.btn-xl {
  padding: .75rem 2rem;
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(15rem + 72px);
  padding-bottom: 7rem;
  background-image: url("/static/images/5559852.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  min-height: 700px;
}

header.masthead .masthead-content {
  z-index: 1;
  position: relative;
}

.navbar {
  padding: 0;
}

.navbar-custom {
  padding-left: 3rem !important;
  padding-right: 2rem !important;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-brand {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

@media (max-width: 992px) {
  .features-icons {
    padding-top: 3rem;
    padding-bottom: 7rem;
  }

  .features-icons-item {
    padding-top: 50px;
  }

  header.masthead {
    padding-top: calc(10rem + 55px);
  }

  .navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem !important;
    padding-right: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .nav-item {
    width: 50%;
  }
}