{% extends 'layouts/base_knowledgebase.html' %}
{% load static %}

{% block styles %}
<script src="{% static 'knowledgebase/article_edit.js' %}"></script>
{{ArticleForm.media}}
<link rel="stylesheet" href="{% static 'knowledgebase/article_edit.css' %}">
{% endblock styles %}

{% block body %}
<div class="editor-wrapper">
    <div class="pb-3">
        <div class="d-inline-block">
            <select>
                {% for version in article_versions %}
                    <option>Version {{version.version}} - {{version.get_article_status_display}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-inline-block float-end">
                <div class="pe-2 d-inline-block">
                    <form action="{% url 'knowledgebase:article_delete' article.id%}" method="post" class="d-inline-block">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete Draft</button>
                    </form>
                </div>
            {% if article.article_status == article.Status.DRAFT %}
                <div class="pe-2 d-inline-block">
                    <button class="btn btn-info" type="submit" name="SubmitButton" value={{article.Status.DRAFT}} form="ArticleForm">Save Draft</button>
                </div>
                <div class="pe-3 d-inline-block">
                    <button class="btn btn-success" type="submit" name="SubmitButton" value={{article.Status.PUBLISHED}} form="ArticleForm">Publish Draft</button>
                </div>
            {% else %}
                <div class="pe-2 d-inline-block">
                    <button class="btn btn-info" type="submit" name="SubmitButton" value={{article.article_status}} form="ArticleForm">Save</button>
                </div>
                <div class="pe-3 d-inline-block">
                    <button class="btn btn-success" type="submit" name="SubmitButton" value="NewVersion" form="ArticleForm">Create New Version</button>
                </div>
            {% endif %}
        </div>
    </div>

    <form method="post" id="ArticleForm">
        {% csrf_token %}
        <div class="pb-4">
            <label for="{{ ArticleForm.title.id_for_label }}">Title:</label>
            {{ ArticleForm.title }}
            <div style="color: red;">{{ ArticleForm.title.errors }}</div>
        </div>
        <div class="pb-3">
            {{ ArticleForm.content }}
            <div style="color: red;">{{ ArticleForm.content.errors }}</div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% url 'knowledgebase:article_image_upload' as image_uplaod_url %}
{{image_uplaod_url|json_script:"article_upload_url"}}
{{article.id|json_script:"article_id"}}
<script>var token = '{{csrf_token}}';</script>
{% endblock scripts %}
