{% extends 'layouts/base_knowledgebase.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'prism.css' %}">
<link rel="stylesheet" href="{% static 'knowledgebase/article_view.css' %}">
{% endblock styles %}

{% block body %}
<div>
    <div class="d-inline-block float-start">
        <img src="{% if article.author.ProfileImage %}{% static article.author.ProfileImage %}{% else %}{% static 'images/user.png' %}{% endif %}" alt="Profile Picture" class="rounded-circle profile-img">
    </div>
    <div class="d-inline-block ps-3 pt-1">
        <h5>{% if article.author.first_name %} {{article.author.first_name}} {{article.author.last_name}}{% else %}{{article.author.username}}{% endif %}</h5>
        <small><p>{{article.created_on|date:"N j, Y"}}</p></small>
    </div>
</div>
<div class="pt-3">
    <h1>{{article.title}}</h1>
    <div>
        {% autoescape off %}
            {{article.content}}
        {% endautoescape %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'prism.js' %}"></script>
{% endblock scripts %}