{% extends 'layouts/base_knowledgebase.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href='{% static 'knowledgebase/knowledgebase.css' %}'>
{% endblock styles %}

{% block body %}
<div class="col-12 text-end">
    <a href="{% url 'knowledgebase:article_create' %}" class="btn btn-info me-3">Create article <i class="fa-solid fa-plus fa-xs"></i></a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateFolderModal">
        Create Folder <i class="fa-solid fa-plus fa-xs"></i>
    </button>
</div>

<div class="pt-3">
    <div class="col-12">
        <div class="col-4 d-inline-block">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </div>
    </div>
    <hr class="my-2">
    <div class="col-12" >
        <ul class="list-group list-group-flush">
            {% for item in folder_content %}
                <li class="list-group-item list-group-item-action folder-list-item">
                    <div class="col-12 g-0">
                        <div class="d-inline-block col-11">
                            <input class="form-check-input me-1" type="checkbox" value="" aria-label="..."> 
                            <div class="d-inline-block col-9 position-relative">
                                <a href="{% if item.object_type == 'folder' %}
                                            {% url 'knowledgebase:knowledgebase_id' item.id %}
                                        {% else %}
                                            
                                        {% endif %}
                                        "
                                        class="stretched-link text-decoration-none text-dark" >
                                    
                                    {{item.name}} {{item.object_type}}
                                </a>
                            </div>
                        </div>
                    <div class="d-inline-block col-1 g-0 float-end">
                        <div class="float-end">
                            <a class="folder-ellipsis" style="color: gray;" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <div class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                            </a>
                            <ul class="dropdown-menu" style="min-width: 7rem;">
                                <li class="dropdown-item">
                                    <form action="{% if item.object_type == 'folder' %}
                                                    {% url 'knowledgebase:folder_delete' item.id %}
                                                  {% else %}
                                                    {% url 'knowledgebase:article_delete' item.id %}
                                                  {% endif %}" 
                                                  method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link text-decoration-none p-0" onclick="return confirm('Deleting folder will delete all content within it. Are you sure you want to delete it?')">
                                            <i class="fa-solid fa-trash-can fa-xs text-secondary d-inline-block"></i>
                                            <p class="text-danger d-inline-block ps-1 m-0">Delete</p>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                </li>
            {% empty %}
                No folders created yet...
            {% endfor %}
        </ul>
    </div>
</div>


{% include 'blocks/form_popup.html' with id='CreateFolderModal' title='Create new folder' form=FolderForm%}

{% endblock body %}