{% extends 'layouts/base_knowledgebase.html' %}
{% load static %}
{% load knowledgebase_tags %}

{% block styles %}
<link rel="stylesheet" href='{% static 'knowledgebase/knowledgebase.css' %}'>
{% endblock styles %}

{% block body %}

<div class="user-card">
    <a href="{% url 'social:dashboard' kb_user.username %}" class="text-decoration-none">
    <div class="d-inline-block float-start">
        <img src="{% if kb_user.profile_image %}{{kb_user.profile_image.url}}{% else %}{% static 'images/user.png' %}{% endif %}" alt="Profile Picture" class="rounded-circle profile-img">
    </div>
    </a>
    <div class="d-inline-block ps-3 text-dark">
        <h5>{% if kb_user.first_name %} {{kb_user.first_name}} {{kb_user.last_name}}'s{% else %}{{kb_user.username}}'s{% endif %}</h5>
        <h3>Knowledgebase</h3>
    </div>
</div>

{% if request.user == kb_user %}
<div class="col-12 CreateActionContainer ">
    <a href="{% url 'knowledgebase:article_create' %}" class="btn btn-info me-3">Create article <i class="fa-solid fa-plus fa-xs"></i></a>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateFolderModal">
        Create Folder <i class="fa-solid fa-plus fa-xs"></i>
    </button>
</div>
{% endif %}

<div class="pt-4">

    <div class="col-12">

        <div class="search-form d-inline-block">
            <form method="get" action="{% url 'knowledgebase:kb' kb_user.username %}">
                {{SearchForm}}
            </form>
        </div>
       {% if request.user == kb_user %}
        <div class="d-inline-block float-end">
            <div class="action-items float-end">
                <a id="actions-dropdown" class="form-select text-decoration-none action-items" data-bs-toggle="dropdown" >
                    (Actions)
                </a>
                <ul class="dropdown-menu dropdown-menu-end" style="min-width: 7rem;">
                    <li class="dropdown-item">
                        <button id="change-folder-action" 
                                type="button" 
                                class="btn btn-link text-decoration-none p-0 text-dark"
                                >
                                Change Folder
                        </button>
                    </li>
                    <li class="dropdown-item">
                        <button id="delete-items-action"
                                type="button" 
                                class="btn btn-link text-decoration-none p-0 text-dark"
                                >
                                <i class="fa-solid fa-trash-can fa-xs text-secondary d-inline-block"></i>
                                <p class="text-danger d-inline-block ps-1 m-0">Delete</p>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>

    <hr class="my-2">

    <div class="col-12 folder-content">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
            {% if current_folder %}
                {% if current_folder.parent_folder.parent_folder %}
                    ...<li class="breadcrumb-item"><a href="{% url 'knowledgebase:kb_id' username=kb_user.username folder_id=current_folder.parent_folder.parent_folder.id %}">{{current_folder.parent_folder.parent_folder.name}}</a></li>
                {% elif current_folder.parent_folder%}
                    <li class="breadcrumb-item"><a href="{% url 'knowledgebase:kb' kb_user.username%}">Root</a></li>
                {% endif %}

                {% if current_folder.parent_folder %}
                    <li class="breadcrumb-item"><a href="{% url 'knowledgebase:kb_id' username=kb_user.username folder_id=current_folder.parent_folder.id %}">{{current_folder.parent_folder.name}}</a></li>
                {% elif current_folder %}
                    <li class="breadcrumb-item"><a href="{% url 'knowledgebase:kb' kb_user.username %}">Root</a></li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">{{current_folder.name}}</li>
            {% endif %}
            </ol>
        </nav>
        
        <ul class="list-group list-group-flush pb-3">
            {% for item in folder_content %}
                <li class="list-group-item list-group-item-action folder-list-item shadow-sm" {% if item|is_article_instance and not item.author_id == kb_user.id %} style="padding-left: .75rem;" {% endif %}>
                    <div class="col-12 g-0">
                        <div class="d-inline-block col-8 g-0">
                            {% if item|is_article_instance and not item.author_id == kb_user.id %}
                            <div class="d-inline-block">
                                <a href="{% url 'social:dashboard' item.author.username %}">
                                <img src="{% if item.author.profile_image %}{{item.author.profile_image.url}}{% else %}{% static 'images/user.png' %}{% endif %}" alt="Profile Picture" class="rounded-circle folder-item-img">
                                </a>
                            </div>
                            {% else %}
                            {% if request.user == kb_user %}
                            <input class="form-check-input me-1 item-checkbox-class" type="checkbox" value="" aria-label="..." 
                                   data-item-id="{{item.id}}"
                                   data-item-type="{% if item|is_folder_instance %}folder{% else %}article{% endif %}">
                            {% endif %}
                            {% endif %}
                            <div class="d-inline-block col-10 g-0 position-relative">
                                {% if item|is_folder_instance %}
                                    <a href="{% url 'knowledgebase:kb_id' username=kb_user.username folder_id=item.id %}"
                                    class="stretched-link text-decoration-none text-dark">
                                    
                                        <i class="fa-regular fa-folder px-2"></i> {{item.name}}
                                    </a>
                                {% else %}   
                                    <a href="{% if item.article_status_id ==  item.Article_Status.PUBLISHED %}
                                                {% url 'knowledgebase:article' item.id %}
                                            {% else %}
                                                {% url 'knowledgebase:article_edit' item.id %}
                                            {% endif %}"
                                       class="stretched-link text-decoration-none text-dark">
                                        <i class="fa-regular fa-file-lines px-2 "></i> 
                                        {% if item.title %}
                                            {{item.title}} 
                                            <div>
                                                <small>{{item.updated_on|date:"N j, Y"}}</small>
                                            </div>
                                        {% elif item.article_status_id ==  item.Article_Status.DRAFT%}
                                            Draft {{item.created_on}}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if request.user == kb_user %}
                        <div class="d-inline-block col-2_5 position-absolute text-center">
                            <div class="">
                                <div class="article-status-div">
                                    {% if item|is_article_instance and item.author_id == kb_user.id %}
                                        {% if item.article_status_id ==  item.Article_Status.DRAFT %}
                                            <span class="badge bg-secondary article-status">{{item.get_article_status_id_display}}</span>
                                        {% elif item.article_status_id ==  item.Article_Status.PUBLISHED%}
                                            <span class="badge bg-success article-status">{{item.get_article_status_id_display}}</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="d-inline-block .col-0_5 g-0 float-end">
                            <div class="float-end">
                                {% if request.user == kb_user %}
                                <a class="folder-ellipsis" style="color: gray;" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                    <div class="px-2"><i class="fa-solid fa-ellipsis-vertical"></i></div>
                                </a>
                                <ul class="dropdown-menu" style="min-width: 7rem;">
                                {% if item|is_article_instance and not item.author_id == kb_user.id%}
                                <li class="dropdown-item">
                                    <button type="button"
                                            class="btn btn-link text-decoration-none p-0 change-folder-class"
                                            data-item-id="{{item.article_user_id}}"
                                            data-item-type="foreign_article"
                                            >
                                        <i class="fa-solid fa-pen-to-square fa-xs text-secondary d-inline-block"></i>
                                        <p class="text-dark d-inline-block ps-1 m-0">Edit </p>
                                    </button>
                                </li>
                                <li class="dropdown-item">
                                    <button type="button" 
                                                class="btn btn-link text-decoration-none p-0 confirmation-popup-class" 
                                                data-confirm-url="{% url 'knowledgebase:article_remove_foreign' item.id %}"
                                                data-confirm-text="Are you sure you want to remove article?">
                                            <i class="fa-solid fa-trash-can fa-xs text-secondary d-inline-block"></i>
                                            <p class="text-danger d-inline-block ps-1 m-0">Remove</p>
                                        </button>
                                </li>
                                {% else %}
                                    {% if item|is_folder_instance %}
                                        <li class="dropdown-item">
                                            <button type="button"
                                                    class="btn btn-link text-decoration-none p-0 edit-folder-class"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#EditFolderModal"
                                                    data-item-name="{{item.name}}"
                                                    data-item-parent_folder="{{item.parent_folder_id}}"
                                                    data-item-id="{{item.id}}"
                                                    data-item-type="folder"
                                                    >
                                                <i class="fa-solid fa-pen-to-square fa-xs text-secondary d-inline-block"></i>
                                                <p class="text-dark d-inline-block ps-1 m-0">Edit</p>
                                            </button>
                                        </li>
                                    {% else %}
                                        <li class="dropdown-item">
                                            <button type="button"
                                                    data-bs-toggle="modal" 
                                                    data-bs-target="#ArticleHeaderModal"
                                                    data-item-name="{{item.title}}"
                                                    class="btn btn-link text-decoration-none p-0 edit-article-class"
                                                    data-item-parent_folder="{{item.folder_id}}"
                                                    data-item-id="{{item.id}}"
                                                    data-item-type="article"
                                                    >
                                                <i class="fa-solid fa-pen-to-square fa-xs text-secondary d-inline-block"></i>
                                                <p class="text-dark d-inline-block ps-1 m-0">Edit Header</p>
                                            </button>
                                        </li>
                                        <li class="dropdown-item">
                                            <a class="btn btn-link text-decoration-none p-0" href="{% url 'knowledgebase:article_edit' item.id%}">
                                                <i class="fa-solid fa-file-lines fa-xs text-secondary d-inline-block"></i>
                                                <p class="text-dark d-inline-block ps-1 m-0">Edit Body</p>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="dropdown-item">
                                        <button type="button" 
                                                class="btn btn-link text-decoration-none p-0 confirmation-popup-class" 
                                                {% if item|is_folder_instance %}
                                                    data-confirm-url="{% url 'knowledgebase:folder_delete' item.id %}"
                                                    data-confirm-text="Deleting folder will delete all of its content. Are you sure?"
                                                {% else %}
                                                    data-confirm-url="{% url 'knowledgebase:article_delete' item.id %}"
                                                    data-confirm-text="Are you sure you want to delete article?"
                                                {% endif %}>

                                            <i class="fa-solid fa-trash-can fa-xs text-secondary d-inline-block"></i>
                                            <p class="text-danger d-inline-block ps-1 m-0">Delete</p>
                                        </button>
                                    </li>
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </li>
            {% empty %}
                No folders created yet...
            {% endfor %}
        </ul>

        {% if folder_content.has_other_pages %}
        <div>
            <span class="d-inline-block bottom-0">
                Page {{ folder_content.number }} of {{ folder_content.paginator.num_pages }}
            </span>
            <span class="d-inline-block float-end">
                <nav>
                    <ul class="pagination">
                        {% if folder_content.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if SearchForm.query.value %}query={{SearchForm.query.value}}&{% endif %}page={{ folder_content.previous_page_number }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for page in folder_content.paginator.page_range %}
                        {% if page > folder_content.number|add:-3 and page < folder_content.number|add:3  %}
                        <li class="page-item {% if folder_content.number == page  %}active{% endif %}"><a class="page-link" href="?{% if SearchForm.query.value %}query={{SearchForm.query.value}}&{% endif %}page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if folder_content.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if SearchForm.query.value %}query={{SearchForm.query.value}}&{% endif %}page={{ folder_content.next_page_number }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                  </nav>
            </span>
        </div>
        {% endif %}
    </div>
</div>

{% if request.user == kb_user %}
{# Popups and include tags listed below #}
<div class="modal fade" id="ChangeFolderPopup" tabindex="-1" aria-labelledby="ChangeFolderPopupLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change Folder</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'knowledgebase:bulk_folder_change' %}" method="post">
                {% csrf_token %}
                {% for field in BulkChangeFolderForm %}
                <div>
                  {{ field.label_tag}}
                  {{ field }}
                  <div class="form-errors">{{ field.errors }}</div>
                </div>
                {% endfor %}
                <div class="text-center">
                    <div class="pe-1 d-inline-block">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                    <div class="ps-1 d-inline-block">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<form action="{% url 'knowledgebase:bulk_delete' %}" method="post" id="BulkDeleteForm"> {% csrf_token %} {{BulkDeleteForm}}</form>
<button id="BulkDeleteButton" class="confirmation-popup-class" data-confirm-text="Deleting folders will delete all of its content. Are you sure?"
        data-confirm-form="BulkDeleteForm" hidden></button>


{% include 'blocks/form_popup.html' with id='CreateFolderModal' title='Create new folder' form=CreateFolderForm %}
{% include 'blocks/form_popup.html' with id='EditFolderModal' title='Edit folder' form=EditFolderForm %}
{% include 'blocks/form_popup.html' with id='ArticleHeaderModal' title='Edit Article' form=ArticleHeaderForm %}
{% include 'blocks/confirmation_popup.html' with is_deletion=True %}
{% endif %}

{% endblock body %}

{% block base_knowledegebase_scripts %}
{% if request.user == kb_user %}
    {{user_folders|json_script:"user_folders"}}
    {{current_folder.id|json_script:"folder_id"}}
    <script src="{% static 'knowledgebase/knowledgebase.js' %}"></script>
{% endif %}
{% endblock base_knowledegebase_scripts %}


