{% url 'social:dashboard' request.user.username as dashboard_url %}
{% url 'knowledgebase:kb' request.user.username as knowledgebase_url %}
{% url 'newsfeed:news_feed' as newsfeed_url %}
{% url 'social:messages' as messages_url %}
{% url 'users:settings' as settings_url %}

<div class="mobile-nav-bar">
    <nav class="navbar fixed-bottom nav-bg-color text-break">
      <div class="container-fluid">
        <ul class="nav" style="width: 100%">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            {% if request.path == dashboard_url %}
              <a class="icon-active" aria-current="page" href="{{dashboard_url}}" ><i class="fa-solid fa-house fa-xl"></i></a>
            {% else %}
              <a class="nav-icon" aria-current="page" href="{{dashboard_url}}" ><i class="fa-solid fa-house fa-xl"></i></a>
            {% endif %}
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            {% if request.path == knowledgebase_url %}
              <a class="icon-active" href="{{knowledgebase_url}}"><i class="fa-solid fa-folder fa-xl"></i></a>
            {% else %}
              <a class="nav-icon" href="{{knowledgebase_url}}"><i class="fa-solid fa-folder fa-xl"></i></a>
            {% endif %}
          </li>
          {% endif %}
          <li class="nav-item">
            {% if request.path == newsfeed_url %}
              <a class="icon-active" href="{{newsfeed_url}}"><i class="fa-solid fa-newspaper fa-xl"></i></a>
            {% else %}
              <a class="nav-icon" href="{{newsfeed_url}}"><i class="fa-solid fa-newspaper fa-xl"></i></a>
            {% endif %}
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            {% if request.path == messages_url %}
              <a class="icon-active" href="{{messages_url}}"><i class="fa-solid fa-envelope fa-xl"></i></a>
            {% else %}
              <a class="nav-icon" href="{{messages_url}}"><i class="fa-solid fa-envelope fa-xl"></i></a>
            {% endif %}
          </li>
          {% endif %}
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            {% if request.path == settings_url %}
             <a class="icon-active" href="{{settings_url}}"><i class="fa-solid fa-gear fa-xl"></i></a>
            {% else %}
             <a class="nav-icon" href="{{settings_url}}"><i class="fa-solid fa-gear fa-xl"></i></a>
            {% endif %}
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>