{% extends 'layouts/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href='{% static 'users/login.css' %}'>
{% endblock styles %}



{% block main %}

{% if form.errors %}
<div class="alert-danger alert d-flex align-items-center alert-dismissible fade show animate__animated animate__fadeInDown">
    <svg class="bi flex-shrink-0 me-2" width="17" height="17" role="img">
        <use xlink:href="#exclamation-triangle-fill"/>
    </svg>
    Invalid username/password
    <a class="alert-close-button" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
</div>
{% else %}
{% endif %}

<div class="container">
    <div class="row" style="height: 100vh;">
        <div class="col-lg-7" >
            <div class="welcome-heading animate__animated animate__fadeIn animate__slow">
                <h1 class="text-white" >Welcome!</h1>
                <h4 class="text-white">This is the into message to users before siging in</h4>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="vertical-center">
                <div class="card shadow-lg" >
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="pb-3">
                                {{ field.label_tag}}
                                {{ field }}
                                <div class="form-errors">{{ field.errors }}</div>
                                </div>
                            {% endfor %}
                            <div class="d-inline-block">
                                <button type="submit" class="btn btn-primary">Log in</button>
                                <small class="ps-2">
                                    <a href="{% url 'users:password_reset' %}" style="text-decoration: none;">Forgot password?</a>
                                </small>
                            </div>
                        </form>
                        <div style="text-align: center;"><small>Don't have an account? <a href="{% url 'users:register' %}" style="text-decoration: none;">Sign up</a></small></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="text-align: center;">
            <div class="fixed-bottom">
                <small><a href='https://www.freepik.com/vectors/background' style="color: white; opacity: 30%;">Background vector created by freepik - www.freepik.com</a></small>
            </div>
        </div>
    </div>  
</div>
{% endblock main %}