{% extends 'layouts/base_users.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href='{% static 'users/card_placement.css' %}'>
{% endblock styles %}

{% block main %}
{{ block.super }}
<div class="container pt-5">
    <div class="d-flex justify-content-center">
        <div class="card-placement">
            <div class="card shadow-lg" >
                <div class="card-body">
                    <h5 class="card-title">Sign Up</h5>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in RegisterForm %}
                            <div class="pb-3">
                                {{ field.label_tag}}
                                {{ field }}
                                <div class="form-errors">{{ field.errors }}</div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                    <div style="padding-top: 5px;"><small>Already have an account? <a href="{% url 'users:login' %}" style="text-decoration: none;">Log in here</a></small></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12" style="text-align: center;">
        <div class="fixed-bottom">
            <small><a href='https://www.freepik.com/vectors/background' style="color: white; opacity: 30%;">Background vector created by freepik - www.freepik.com</a></small>
        </div>
    </div>
</div>
{% endblock main %}

