.activity-card {
    width: 48%;
}

.follow-div:hover {
    cursor: pointer;
}

.kb-card {
    padding-bottom: 1.5rem;
}

.popup-card-div {
    width: 45%;
}

.popup-profile-img {
    height: 50px;
    width: 50px;
}

.profile-img {
    height: 100px;
    width: 100px;
}

@media all and (max-width:600px) {
    .activity-card {
        width: 100%;
        display: block;
    }

    .kb-card {
        padding-bottom: 4rem;
    }
}
