body {
    background-image: url("/static/images/5559852.jpg"); 
}

.card-placement {
    width: 30%;
    margin: 0;
    position: relative;
    padding-top: 10rem;
}

.password-confirm-card-placement {
    width: 30%;
    margin: 0;
    position: relative;
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.password-reset-card-placement {
    width: 30%;
    margin: 0;
    position: relative;
    -ms-transform: translateY(150%);
    transform: translateY(150%);
}

.password-email-sent-card-placement {
    width: 30%;
    margin: 0;
    position: relative;
    -ms-transform: translateY(350%);
    transform: translateY(350%);
}


@media all and (max-width:992px) {
    .card-placement {
        width: 100%;
        padding-top: 7rem;
    }

    .password-confirm-card-placement {
        width: 100%;
        margin: 0;
        position: relative;
        -ms-transform: translateY(50%);
        transform: translateY(50%);
    }

    .password-email-sent-card-placement {
        width: auto;
        margin: 0;
        position: relative;
        -ms-transform: translateY(300%);
        transform: translateY(300%);
    }

    .password-reset-card-placement {
        width: 100%;
        margin: 0;
        position: relative;
        -ms-transform: translateY(110%);
        transform: translateY(110%);
    }

    .regsiter-container {
        padding-bottom: 0px;
    }
  }
  