.article-versions:hover {
    color: inherit;
    cursor: pointer;
}

.article-versions-item {
    cursor: pointer;
}

.editor-wrapper {
    padding: 25px;
}

.folder-dropdown {
    float: right;
}

@media all and (max-width:450px) {
    .action-button {
        font-size: .79rem;
    }

    .article-title {
        width: 100%;
    }

    .editor-wrapper {
        padding: 25px 0 50px 0;
    }

    .end-div {
        padding-right: 0 !important;
    }

    .folder-dropdown {
        padding-top: 1rem;
        float: initial;
        width: 100%;
    }
}