.action-items {
    width: 100%;
}

.action-items:hover {
    color: inherit;
    cursor: pointer;
}

.col-0_5 {
    flex: 0 0 auto;
    width: 4.16666665%;
}

.col-2_5 {
    flex: 0 0 auto;
    width: 20.8333332%;
}

.CreateActionContainer {
    text-align: right;
}

.disabled {
    background-color: rgb(245, 245, 245);
    pointer-events: none;
}

.folder-content {
    padding-bottom: 5rem;
}

.folder-ellipsis {
    opacity: 0;
}

.folder-ellipsis:hover {
    cursor: pointer;
}

.folder-item-img {
    width: 25px;
    height: 25px;
    margin-bottom: 17px;
    vertical-align: baseline;
}

.folder-list-item:hover .folder-ellipsis {
    opacity: 1;
}

.profile-img {
    width: 70px;
    height: 70px;
}

.search-form {
    width: 35%;
}

@media all and (max-width:992px) {
    .folder-ellipsis {
        opacity: 1;
    }

    .search-form {
        width: 50%;
    }
}

@media all and (max-width:450px) {
    .article-status {
        font-size: 10px;
    }

    .CreateActionContainer {
        text-align: center;
        padding-top: 10px;
    }

    .search-form {
        width: 60%;
    }

    .user-card {
        padding-bottom: 20px;
    }
}