body {
    background-image: url("/static/images/5559852.jpg"); 
}

.vertical-center {
    margin: 0;
    position: relative;
    -ms-transform: translateY(90%);
    transform: translateY(90%);
  }

.welcome-heading {
    position: relative;
    -ms-transform: translateY(150%);
    transform: translateY(150%);

}

.text-white {
    color: white;
}

  @media all and (max-width:992px) {
      .vertical-center {
        -ms-transform: translateY(0);
        transform: translateY(0);
      }

      .welcome-heading {
          text-align: center;
        -ms-transform: translateY(0);
        transform: translateY(0);
    
    }
  }
