{% extends 'layouts/base_knowledgebase.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href='{% static 'social/messages.css' %}'>
{% endblock styles %}

{% block body %}
<div class="pb-5">
  <div class="col-lg-7">
    <div class="d-inline-block">
      <h3>Messages</h3>
    </div>
    <div class="d-inline-block float-end">
      <a href="{% url 'social:new_message' %}" class="btn btn-primary">New Message</a>
    </div>
    <ul class="list-group list-group-flush pt-2 w-100">
      {% for message in object_list %}
      {% if request.user == message.sender %}
      <a href="{% url 'social:message_detail' message.recipient.username %}" class="text-decoration-none">
      {% else %}
      <a href="{% url 'social:message_detail' message.sender.username %}" class="text-decoration-none">
      {% endif %}
      <li class="list-group-item">
        <div>
        {% if request.user == message.sender %}
          <div class="d-inline-block"><img src="{% if message.recipient.profile_image %}{{ message.recipient.profile_image}}{% else %}{% static 'images/user.png' %}{% endif %}" alt="Profile Picture" class="rounded-circle profile-img"></div>
          <div class="d-inline-block"><p class="m-0 position-fixed">@{{message.recipient.username}}</p></div>
        {% else %}
          <div class="d-inline-block"><img src="{% if message.sender.profile_image %}{{ message.sender.profile_image}}{% else %}{% static 'images/user.png' %}{% endif %}" alt="Profile Picture" class="rounded-circle profile-img"></div>
          <div class="d-inline-block"><p class="m-0 position-fixed">@{{message.sender.username}}</p></div>
        {% endif %}
        <div class="d-inline-block float-end">
          <small>{{message.message_sent_date}}</small>
          <div class="d-block pt-4 float-end">
          {% if not message.message_read and not message.sender == request.user%}
            <span class="position-relative"><i class="fa-regular fa-envelope fa-xl"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">!</span>
            </span>
          {% else %}
            <span><i class="fa-regular fa-envelope-open fa-xl"></i></span>
          {% endif %}
        </div>
        </div>
        </div>
        <div class="pt-2">
          <p>
            {{message.content|truncatewords:25}}
          </p>
        </div>
      </li>
      </a>
      {% empty %}
        No messages...
      {% endfor %}
      </ul>

      {% if is_paginated  %}
      <div class="pt-3">
          <span class="d-inline-block bottom-0">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          <span class="d-inline-block float-end">
              <nav>
                  <ul class="pagination">
                      {% if page_obj.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                      {% endif %}
                      {% for page in page_obj.paginator.page_range %}
                      {% if page > page_obj.number|add:-3 and page < page_obj.number|add:3  %}
                      <li class="page-item {% if page_obj.number == page  %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                      {% endif %}
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                          <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                      {% endif %}
                  </ul>
                </nav>
          </span>
      </div>
      {% endif %}
  </div>
</div>

{% endblock body %}