{% extends 'layouts/base_knowledgebase.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href='{% static 'social/message_detail.css' %}'>
{% endblock styles %}

{% block body %}
<div class="pb-5">
  <div class="col-lg-8">
    <div class="text-end pb-1"><button class="btn btn-success" style="background: rgb(0, 196, 65);">Refresh <i class="fa-solid fa-rotate"></i></button></div>
    <section class="msger">
      <header class="msger-header">
        <div class="msger-header-title">@{{chat_user.username}}
        </div>
      </header>
    
      <main class="msger-chat">
        
      </main>
    
      <form class="msger-inputarea">
        <input type="text" class="msger-input" placeholder="Enter your message...">
        <button type="submit" class="msger-send-btn">Send</button>
      </form>
    </section>
  </div>
</div>

{% endblock body %}

{% block scripts %}
{% static 'images/user.png' as default_user_img %}
{{request.user.id|json_script:"request_user_id"}}
{{request.user.username|json_script:"request_username"}}
{% if request.user.profile_image %}
{{request.user.profile_image.url|json_script:"request_user_img"}}
{% else %}
{{default_user_img|json_script:"request_user_img"}}
{% endif %}
{{request.user.profile_image.url|json_script:"request_user_img"}}
{{chat_user.id|json_script:"chat_user_id"}}
{{chat_user.username|json_script:"chat_username"}}
{% if chat_user.profile_image %}
{{chat_user.profile_image.url|json_script:"chat_user_img"}}
{% else %}
{{default_user_img|json_script:"chat_user_img"}}
{% endif %}
<script src="{% static 'social/message_detail.js' %}"></script>
{% endblock scripts %}