{% extends 'layouts/base_knowledgebase.html' %}

{% block title %}
(400) - Error
{% endblock title %}

{% block body %}
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle" >
        <div class="padding-bottom-15" style="text-align: center;"><h5>Ooops!! 400</h5></div>
        <div class="padding-bottom-5" style="text-align: center;"><p>Looks like something went wrong! Please try and clear your cache and cookies and try again. We apologize about the inconvenience.</p></div>
    </div>
</div>
{% endblock body %}