{% extends 'layouts/base_knowledgebase.html' %}

{% block title %}
(404) - Not Found
{% endblock title %}

{% block body %}
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle" >
        <div class="padding-bottom-15" style="text-align: center;"><h5>Error 404 - Not Found</h5></div>
        <div class="padding-bottom-5" style="text-align: center;"><p>{% if exception %}{{ exception }}{% else %}The requested resource does not exists.{% endif %}</p></div>
    </div>
</div>
{% endblock body %}