{% extends 'layouts/base_knowledgebase.html' %}

{% block title %}
(500) - Server Error
{% endblock title %}

{% block body %}
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle" >
        <div class="padding-bottom-15" style="text-align: center;"><h5>Ooops!! 500</h5></div>
        <div class="padding-bottom-5" style="text-align: center;"><p>Looks like something went wrong! We apologize about the inconvenience and will have this issue fixed as soon as possible</p></div>
    </div>
</div>
{% endblock body %}