{% extends 'layouts/base_knowledgebase.html' %}
{% load static %}

{% block title %}
New Message
{% endblock title %}

{% block meta %}
<meta name="description" content="Create a new message to send to another user.">
{% endblock meta %}

{% block styles %}
<link rel="stylesheet" href='{% static 'social/new_message.css' %}'>
{% endblock styles %}

{% block body %}
<div class="pb-5">
    <h3>Send Message</h3>
  <div class="col-md-6 bg-white p-4">
    <form method="post">
        {% csrf_token %}
        {{message_form}}
        <div class="pt-4 text-end">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
  </div>
</div>

{% endblock body %}
