{% extends 'layouts/base_users.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href='{% static 'landingpage/landingpage.css' %}'>
{% endblock styles %}

{% block main %}
{{ block.super }}
<!-- Header-->
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class=" mb-0">Starting sharing your knowledge today!</h1>
            <h2 class="masthead-subheading mb-0 mt-3">View what others have shared by cliking the button below.</h2>
            <a class="btn btn-info rounded-pill btn-xl mt-5" href="{% url 'articlefeed:article_feed' %}">View articles</a>
        </div>
    </div>
    <div class="position-absolute bottom-0 start-50 translate-middle-x">
        <small><a href='https://www.freepik.com/vectors/background' style="color: white; opacity: 30%;">Background vector created by freepik - www.freepik.com</a></small>
    </div>
</header>

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-2 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex mb-4"><i class="fa-solid fa-book m-auto fa-7x"></i></div>
                    <h3>Personal knowledgebase</h3>
                    <p class="lead mb-0">Build your own knowledgebase and customize it how you want!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-2 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex mb-4"><i class="fas fa-people-arrows m-auto fa-7x"></i></div>
                    <h3>Collect and share</h3>
                    <p class="lead mb-0">Add other users articles to your personal knowledgebase and help others by sharing your own!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex mb-4"><i class="fa-solid fa-comments m-auto fa-7x"></i></div>
                    <h3>Messaging</h3>
                    <p class="lead mb-0">Start a conversation with others and share ideas!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-black">
    <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; knowledgeshare.com 2022</p></div>
</footer>
    
{% endblock main %}
