.profile-img {
    height: 100px;
    width: 100px;
}

.popup-profile-img {
    height: 50px;
    width: 50px;
}

.popup-card-div {
    width: 45%;
}

.activity-card {
    width: 48%;
}

.follow-div:hover {
    cursor: pointer;
}

