:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
}
  
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.loader {
    display: none;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
    
.msg:last-of-type {
    margin: 0;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-img {
    width: 50px;
    height: 50px;
    min-width: 50px;
    margin-right: 10px;
    border-radius: 50%; 
}
    
.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    min-height: 600px;
    height: 80vh;
    max-height: 80vh;
}

.msger-chat {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    background-color: #fcfcfe;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}

.msger-input {
    flex: 1;
    background: #ddd;
}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: rgb(0, 180, 50);
}

.profile-img {
    height: 50px;
    width: 50px;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.show-loader {
    display: block !important;
}

@media all and (max-width:450px) {
    .msg-img {
        width: 35px;
        height: 35px;
        min-width: 35px;
    }

    .msger-input {
        font-size: small;
    }

    .msger-send-btn {
        font-size: small;
        }
}
