body  {
    background-color: rgb(245, 245, 245);
}

.col-nav {
    flex: 0 0 auto;
    width: 70px;
}

.main-body {
    padding-left: 3%;
    padding-right: 3%;
}

.rounded-corners {
    border-radius: 20px;
}

.nav-bar-col {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    position: fixed;
    z-index: 999;
    height: 100%;
    text-align: center;
}

.nav-bg-color {
    background-color:  #385a86;
}

.nav-item {
    padding-top: 30px;
    padding-bottom: 25px;
}

.nav-icon {
    color: rgba(255,255,255,0.6);
}

.icon-active {
    color: aliceblue;
}

.nav-icon:hover, .icon-active:hover  {
    color: aliceblue;
}

.mobile-nav-bar {
    display: none;
}

.header {
    text-align: right;
}

.top-right-menu {
    padding-top: 10px;
    display: inline-block;
}

.top-right-menu-item {
    text-align: right;
    display: inline;
    padding-left: 15px;
}

.top-right-menu-icon {
    color: gray;
    font-size: 28px;
    cursor: pointer;
}

.top-right-menu-img {
    height: 33px;
    width: 33px;
    margin-bottom: 6px;
}

.badge {
    font-size: 12px;
}

.alert {
    height: 30px;
    margin: auto;
    line-height:30px;
    padding:0px 15px;
    padding-bottom: 1px;
}

.alert-error {
    color: #771114;
    background-color: #f4d2d3;
    border-color: #eebbbd;
}

.alert-close-button {
  position: absolute;
  right: 0;
  padding-right: 1rem;
  color: #000;
}

.alert-close-button:hover {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    opacity: 0.55;
}

.form-errors {
    color: rgb(225, 0, 0);
}


@media all and (max-width:992px) {

    .mobile-nav-bar {
        display: block;
    }

    .nav-bar-desktop {
        display: none;
    }

    .nav-item {
        padding-top: 0;
        padding-bottom: 0;
        width: 25%;
        text-align: center;
    }
}
