{% extends 'layouts/base.html' %}
{% load static %}

{% block main %}

<div class="container-fluid">
  <div class="row">
    <!--   Desktop Navbar    -->
    {% include "blocks/desktop_navbar.html" %}
    <!--   Mobile Navbar    -->
    {% include "blocks/mobile_navbar.html" %}
    <!--   Main body    -->
    <div class="col g-0">
      {% if messages %}
          {% for message in messages %}
            <div id="message_{{ forloop.counter }}"
                 class="{% if message.tags %} alert-{{message.tags}} {% endif %} alert d-flex align-items-center alert-dismissible fade show animate__animated animate__fadeInDown">
          
                  <svg class="bi flex-shrink-0 me-2" width="17" height="17" role="img">
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                      <use xlink:href="#info-fill"/>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                      <use xlink:href="#check-circle-fill"/>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                      <use xlink:href="#exclamation-triangle-fill"/>
                    {% endif %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                      <use xlink:href="#exclamation-triangle-fill"/>
                    {% endif %}
                  </svg>

                {{ message }}
              <a class="alert-close-button" data-bs-dismiss="alert" aria-label="Close"><i class="fa-solid fa-xmark"></i></a>
            </div>
          {% endfor %}
        {% endif %}
      <div class="main-body text-break pe-4">
        <div class="header pb-3">
          <div class="top-right-menu">
            <div class="top-right-menu-item ">
              <a class="top-right-menu-icon position-relative" href="#">
                <i class="fa-solid fa-bell"></i>
                <span class="position-absolute top-100 start-100 translate-middle badge rounded-pill bg-danger badge">{{notifications}}</span>
              </a>
            </div>
            <div class="top-right-menu-item">
              <a class="top-right-menu-icon dropdown" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                <i class="fa-solid fa-circle-user"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fa-solid fa-right-from-bracket pe-3"></i>Logout</a></li>
              </ul>
            </div>
          </div>
        </div>

        {% block body %}
        {% endblock body %}

      </div>
    </div>
  </div>
</div>

{% endblock main %}
